---
layout: layout
title: "home"
---

<div
  id="table"
  hx-get="{{ API_DB_URL }}"
  hx-vals='{"workerAction": "listTables"}'
  hx-trigger="load"
>
  <img
    alt="Result loading..."
    class="htmx-indicator"
    width="150"
    src="/assets/img/bars.svg"
  />
</div>
