---
layout: layout
title: "home"
---

<table class="pure-table">
  <thead>
    <tr>
      <th class="px-4 py-2">Table</th>
      <th class="px-4 py-2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Projects</td>
      <td>
        <a class="pure-button" href="/projects/">Manage</a>
      </td>
    </tr>
    <tr>
      <td>Users</td>
      <td>
        <a class="pure-button">Manage</a>
      </td>
    </tr>
  </tbody>
</table>
