---
layout: layout
title: "index"
---

<div>
    Welcome to HMTX fun login or sign up !
    <a href="/login/" class="pure-button">Login</a>
    <br>
    <a href="/signup/" class="pure-button">Signup</a>
  </form>
</div>