---
layout: layout
title: "index"
---

<div class="pure-g">
    Welcome to HMTX fun login or sign up !
</div>
<div class="pure-g">
    <a href="/login/" class="pure-button">Login</a>
    <a href="/signup/" class="pure-button">Signup</a>
    </div>
</div>