---
layout: layout_external
title: "login"
---

<div class="pure-g">
  <div class="pure-u-1">Fill in the details to login</div>
</div>
<div>
  <form
    hx-post="{{ API_JWT_URL }}"
    hx-vals='{"workerAction": "doLogin"}'
    hx-target="#responseText"
    hx-swap="innerHTML"
    class="pure-form pure-form-stacked"
  >
    <label for="email"> Login </label>
    <input
      type="email"
      name="email"
      placeholder="enter email"
      id="email"
      required
    />
    <label for="password"> Password </label>
    <input
      type="password"
      name="password"
      placeholder="enter password"
      id="password"
      required
    />
    <button class="pure-button" type="submit">Login</button>
    <a href="/signup/" class="pure-button">Signup</a>
    <a href="/forgotpassword/" class="pure-button">Forgot Password</a>
  </form>
</div>
