---
layout: layout_external
title: "signup"
---

<div class="pure-g">
  <div class="pure-u-1">Fill in the details to Signup</div>
</div>
<div>
  <form
    hx-post="{{ API_JWT_URL }}"
    hx-vals='{"workerAction": "doSignup"}'
    hx-target="#responseText"
    hx-swap="innerHTML"
    class="pure-form pure-form-stacked"
  >
    <label for="inpLogin"> Email </label>
    <input
      type="email"
      name="email"
      placeholder="enter email"
      id="email"
      required
    />
    <label for="inpPassword"> Password </label>
    <input
      type="password"
      name="password"
      placeholder="enter password"
      id="password"
      required
    />
    <button class="pure-button" type="submit">Signup</button>
    <a href="/login" class="pure-button">Login</a>
  </form>
</div>
