---
outputFolder: user/edit,projects/edit
layout: layout
title: "Edit Page"
---

<div id="table" hx-get="{{ API_URL }}" hx-trigger="load" hx-vals="">
  <img
    alt="Result loading..."
    class="htmx-indicator"
    width="150"
    src="/assets/img/bars.svg"
  />
</div>
