---
outputFolder: table
layout: layout
title: "Table Page"
---

<div hx-get="/graph" hx-trigger="load">
  <img
    alt="Result loading..."
    class="htmx-indicator"
    width="150"
    src="/assets/img/bars.svg"
  />
</div>
