---
layout: layout_external
title: "verify"
---

<div
  class="pure-g"
  id="verifyDiv"
  name="verifyDiv"
  hx-target="#responseText"
  hx-swap="innerHTML"
  hx-post="{{ API_JWT_URL }}"
  hx-trigger="load"
  hx-vals='{"workerAction": "doVerify"}'
>
  Verifying your account
</div>
